altgraph==0.17.4
Brotli==1.1.0
certifi==2023.7.22
charset-normalizer==3.3.2
decorator==4.4.2
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.4.9
macholib==1.16.3
modulegraph==0.19.6
moviepy==1.0.3
mutagen==1.47.0
numpy==1.26.4
packaging==24.0
pillow==10.3.0
proglog==0.1.10
py2app==0.28.7
pycryptodomex==3.20.0
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.5
pytube==15.0.0
requests==2.31.0
tqdm==4.66.2
urllib3==2.2.1
websockets==12.0
yt-dlp==2024.4.9